{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.banner {
    border: 1px rgb(129, 9, 234) groove;
    margin: 40px 40px 20px 60px;
    text-align: center;
    background-color: rgb(19, 231, 51);
    width: 97%;
    margin: 0px auto;
}
.name_banner{
    font-size: 50px;
    color: rgb(237, 15, 15);
    font-weight: bold;
    width: 98%;
    
}
.h1 {
    color: white;
    background-color: rgb(230, 180, 15);
    border-radius: 7%;
    border: 1px dashed rgb(15, 15, 16);
    width: 750px;
    height: 50px;
    text-align: center;
    margin: 20px 15px 20px 15px;
    font-weight: bold;
    font-size: 17px;
    margin: 20px;
    font-weight: bold;
    padding: 20px 20px 20px 20px;
    align-items: center;
}
.root>li {
    list-style: none;
    float: left;
    position: relative;
    display: block;
}
.root>li a{
    text-decoration: none;
    color: rgb(15, 231, 45);
    padding: 0px 15px 0px 15px;
    line-height: 50px;
    display: block;
}
.menu_web {
    width: 97%;
    height: 50px;
    background-color: rgb(236, 19, 236);
    margin: 0 auto;
}
.menu {
    font-size: 20px;
}
.root>li>a:hover{background-color: yellowgreen;
    color: white;
    transform: ease-in 0.35s;
}
.submenu{
    width: 250px;
    background-color: #c6e70b;
    min-height: 80px;
    display: none;
    position: absolute;
}
.submenu li {list-style: none;}
.submenu li a{
    text-transform: none;
    text-decoration: none;
    color: rgb(222, 232, 237);
    display: block;
    border: 1px solid #ccc;
    line-height: 40px;
    text-indent: 12px;
}
.root>li:hover .submenu {
    display: block;
    background-color: #0babd3;
    color: palevioletred;
    transform: ease-in 0.35s;
}
.submenu li a:hover {
    background-color: yellowgreen;
    color: white;
    transform: ease-in 0.35s;
}
.bocuc{
    border: 1px solid #ccc;
    width: 97%;margin: 0px auto;

}
.h11 td{border: 1px solid #ccc;}
.sp1 img{width: 300px; height: 180px;
    align-items: center;}
    .giacu{color: red; font-size: 18px;}
    .giaban{color: blue;
    font-size: 14px; font-weight: bold;}
    .sp1{text-align: center;}
    .giaban:hover{font-size: 25px;
    position: absolute;
    transform: ease-in 0.35s;}
    